@import url("https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap");

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #fe6f5e;
    --secondary-color: #bf4f51;
    --accent1-color: #fb607f;
    --accent2-color:#800020;
    
  --heading-font:  serif;
  --paragraph-font:  serif;

  --nav-background-color: #fff;
  --nav-link-color: #fbfbfb;
  --nav-hover-link-color: #fbfbfb;
  --nav-hover-background-color: #fff;
}

body {
    
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h1, h3, h4, h5, h6 {
    font-family:  var(--paragraph-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
